//colors
$color-primary: #0e1726;

$color-secondary: #8bd8bd;

$color-grey-light-1: #f7f7f7;

$color-grey-dark-1: #888f92;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Responsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-larg: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest: 30em; // 600px
