.btn {
  max-width: 25rem;
  text-align: center;
  flex-grow: 0;
  border-radius: 1.2rem;
  padding: 1rem 5rem;
  background-color: var(--color-cta);
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--blue-dark-1);
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--bg-white);
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(-1px);
}
