/*
0-600px:      Phone
600-900px:    Tablet portrait  
900-1200px:   Tablet landscape  
1200-1800px:  laptops - normal styles apply
1800px +:     big desktops 
$breackpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + Typography => General layout + Grid => Page Layout => Components
1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@keyframes moveInDot {
  0% {
    opacity: 0.5;
    transform: translateX(calc(-2.75rem - 50%)); }
  25% {
    opacity: 1;
    transform: translateX(calc(0.75rem - 50%)); }
  50% {
    opacity: 1;
    transform: translateX(calc(-0.5rem - 50%)); }
  75% {
    opacity: 1;
    transform: translateX(calc(0.5rem - 50%)); }
  100% {
    opacity: 1;
    transform: translateX(calc(0 - 50%)); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:root {
  --bg-white: #fff;
  --blue-dark-1: #4a4e57;
  --color-cta: #fef7e5;
  --color-grey-light-1: #d4d4d4; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: var(--bg-white);
  color: var(--blue-dark-1);
  font-family: 'Inter', sans-serif; }

::selection {
  background-color: var(--blue-dark-1);
  color: var(--color-cta); }

h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 7rem;
  position: relative; }

h2::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 7.5rem;
  height: 4px;
  border-radius: 4px;
  background-color: var(--blue-dark-1);
  display: inline-block; }

.subtitle {
  font-size: 1.8rem;
  position: relative;
  margin-bottom: 1rem;
  text-transform: uppercase; }

.subtitle::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 5rem;
  height: 1px;
  border-radius: 1px;
  background-color: var(--bg-white);
  display: inline-block; }

.btn {
  max-width: 25rem;
  text-align: center;
  flex-grow: 0;
  border-radius: 1.2rem;
  padding: 1rem 5rem;
  background-color: var(--color-cta);
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--blue-dark-1);
  transition: all 0.3s; }

.btn:hover {
  background-color: var(--bg-white);
  transform: translateY(-3px); }

.btn:active {
  transform: translateY(-1px); }

.main-header {
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-white); }

.navbar {
  max-width: 90rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.navbar ul {
  /* position: relative; */
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem; }

.navbar ul li {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; }

.link {
  text-decoration: none;
  color: var(--blue-dark-1);
  position: relative; }

.link::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block; }

.link:hover::after {
  animation: moveInDot 0.5s;
  background-color: var(--blue-dark-1); }

.logo {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  width: 15rem;
  height: 15rem;
  margin-bottom: -8rem;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15); }

.logo img {
  width: 100%; }

.hero-section {
  width: 100%;
  color: var(--bg-white);
  background-image: linear-gradient(90deg, #4b4f58 0%, rgba(75, 79, 88, 0.35) 65%), url(../../assets/images/hero-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 11rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 5rem; }

h1 {
  font-size: 4.5rem;
  letter-spacing: 3px;
  font-weight: 600; }

.hero-section ul {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.hero-section ul li {
  font-size: 1.8rem;
  color: var(--color-grey-light-1); }

.contactanos {
  padding: 4.2rem;
  max-width: 120rem;
  width: 90%;
  margin: 0 auto; }

.contactanos div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 6rem; }

.cake {
  display: block;
  width: 45rem; }

.contact-box {
  width: 100%;
  background-color: var(--blue-dark-1);
  padding: 3rem 4rem;
  color: #fff;
  border-radius: 4rem;
  font-size: 1.6rem; }

.contact-box ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem; }

.icon {
  width: 1.8rem;
  height: 1.8rem; }

.social {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; }

.social__network--link {
  text-decoration: none;
  color: var(--color-grey-light-1);
  display: flex;
  align-items: center;
  gap: 1rem; }
